#barChart {
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  gap: 2.5px;
  align-items: end;
}

.bar {
  background-color: orange;
  outline: 1px solid black;

  height: 100px;
}

.minQuater {
  background-color: green;
}

.belowHalf {
  background-color: yellow;
}

.aboveHalf {
  background-color: orangered;
}

.maxQuater {
  background-color: red;
}
